@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Playwrite+ES:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root{    /*variables*/
    --violet:#545454;
}

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;

}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}


.heading{
    font-family: "Playwrite DE Grund", cursive;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1rem;
    color: #292929;
    margin: 2rem 0;
    padding-top: 5rem;
    padding-bottom: 2rem;

}




.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    z-index: 100;
    padding: 1rem 2rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);     
}

.header .logo img{
    width: 150px;
    margin-left: 2rem;
}

.header nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0; padding: 0;
}

.header nav ul li{
    margin: 0 1.5rem;
}

.header nav ul li a{
    font-size: 2rem;
    text-decoration: none;
    color: #747474;
}

.header nav ul li a:hover{
    color:#000;
    text-decoration: underline;
  }

.header .fa-bars{
    font-size: 2.5rem;
    color: #747474;
    cursor: pointer;
    display: none;          
}

.Home .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 83vh;
    background: url(img01.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.Home .hero .text1{
    font-size: 7rem;
    font-family: "Playfair Display", serif;
    width: 55rem;
    padding: 1rem 1rem;
    text-align: center;
}

.Home .hero .text2{
    font-size: 3.2rem;
    font-family:Arial, Helvetica, sans-serif;
    width: 55rem;
    padding: 1rem 1rem;
    text-align: center;
    margin-top: 0.5rem;
}

.Home .hero .button-container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.Home .hero .button{
    background-color: #fff;
    font-size: 2rem;
    font-weight: bold;
    width: auto;
    padding: 1rem 4rem;
    border: 2px solid var(--violet);
    border-radius: 2.5rem;
    text-decoration: none;
    color: #292929;
}
.Home .hero .button:hover{
    color: #fff;
    background-color: #292929;
}

.Home .counting{
    margin-top: 2rem;
    min-width: 40vh;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    /*set elements in line */
}

.Home .counting .box{
    margin: 2rem 4rem;
    text-align: center;
}

.Home .counting .box .count{
    font-size: 7rem;
    color: var(--violet);
}

.Home .counting .box h3{
    font-size: 2rem;
    color: #292929;
}


.about{
    min-height: 100vh;
    padding-bottom: 3rem;
}

.about .image{
    padding: 2rem;
}

.about .image img{
    height: 45rem;
    object-fit: cover;
    box-shadow: .5rem .5rem 0 0rem var(--violet);
}

.about .row{
    display: flex;
    justify-content: space-around;
}

.about .info{
    width: 40%;
    padding: 2rem;
    margin-top: 3rem;
} 

.about .info h2{
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    color: var(--violet);
}

.about .info p{
    font-size: 1.7rem;
    color: #292929;
    margin: 2rem 0;
}

.about .info .icons a{
   margin-top: 1rem;
   font-size: 2rem;
   height: 4rem;
   width: 4rem;
   line-height: 4rem;
   text-align: center;
   background-color: #333;
   color: #fff;
   border-radius: .5rem;
   margin-right: 1rem;
   text-decoration: none;
}

.about .info .icons a:hover{
    color: var(--violet);
    background-color: #fff;
    border: 2px solid var(--violet);


}

.service{

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    
}

.service .box-container{

    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service .box-container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    width: 25rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
    
    border-radius: .5rem;
    text-align: center;
    padding-top: 6rem;
    margin: 2rem 3rem;
}

.service .box-container .box:hover{
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .7);
}






.service .box-container .box .fas{
    color: var(--violet);
    font-size: 5rem;
}

.service .box-container .box p{
    color: #292929;
    font-size: 1.7rem;
    margin: 2rem 0;
    width: 80%;
}

.project{
    min-height: 100vh;
}

.project .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project .box-container .box{
    height: 20rem;
    width: 30rem;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: 0 .2rem .5rem var(--violet);
    overflow: hidden;
}

.project .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project .box-container .box img:hover{
    transform: scale(1.4);
    box-shadow: none;
}

.contact{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-box-container{
    width: 93%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.contact-box-container .contact-box{
    height: 15rem;
    flex: 1 0 30rem;
    margin: 2rem;
    
    border-radius: .5rem;
    text-align: center;
    padding-top: 4rem;
}

.contact-box-container .contact-box:hover{
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .8);
}

.contact-box-container .contact-box i{
    color: var(--violet);
    font-size: 4rem;
}

.contact-box-container .contact-box h3{
    font-size: 1.8rem;
    color: #292929;
    margin: 2rem 0;
}

.contact .form-container{
    width: 70%;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .2);
    border-radius: .5rem;
    padding: 1rem 3rem;
    margin-bottom: 5rem;
    border: 1px solid  var(--violet);

}

.contact .form-container form input,textarea{
    height: 4.5rem;
    padding: 0 1rem;
    margin: 2rem 0;
    font-size: 1.5rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .2);
    border: 1px solid  var(--violet);
    outline: none;
    color: #333;
} 

.contact .form-container form .inputBox{
    display: flex;
    justify-content: space-between;
}

.contact .form-container form input[type="text"]{
    width: 49%;
}

.contact .form-container form input[type="email"]{
    width: 100%;
}

.contact .form-container form textarea{
    width: 100%;
    height:20rem;
    padding: 1rem;
    resize: none;
    overflow-y: auto;
}

.contact .form-container form input[type="submit"]{
    background: var(--violet);
    width: 15rem;
    color: #fff;
    font-size: 2rem;
    border-radius: .5rem;
}

.contact .form-container form input[type="submit"]:hover{
    opacity: .8;
}

.footer{
    background: var(--violet);
    text-align: center;
    padding: 2rem 0;
}

.footer .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-left: 0;
    padding: 1rem;
}

.footer .row .col-md-3{
    margin: 1rem 0;
    flex: 1 1 25%;
    max-width: 25%;
}

.footer h2{
    font-size: 2.5rem;
    color:#fff;
  }
  
  .footer p{
    font-size: 1.2rem;
    color: #fff;;
  }
  
  .footer .list{
    display: flex;
    flex-flow: column;
  }
  
  .footer .list a{
    color:#ccc;
    font-size: 1.7rem;
    text-decoration: none;
    margin-bottom: .5rem;
    margin-top: 1.5rem;
  }
  .footer .letter{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .footer .letter p{
    font-size: 1.5rem;
    margin: 1rem;
  }
  
  .footer .letter input[type="email"]{
    outline: none;
    border: none;
    background:#fff;
    padding:0 1rem;
    height:3rem;
    width:30%;
    border:.1rem solid #fff;
    font-size: 1.5rem;
  }
  
  .footer .letter input[type="submit"]{
    outline: none;
    border: none;
    background:#fff;
    margin:1rem 0;
    width:10rem;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 1rem .3rem;
    border-radius: 1rem;
  }
  
  .footer .letter input[type="submit"]:hover{
    background:var(--orange);
    color:#fff;
  }
  
  .footer .credit{
    width: 100%;
    text-align: center;
    color:#fff;
    font-size: 1.5rem;
    padding:1rem 0;
    margin:1rem 0;
    margin-bottom: 0;
    border-top: .1rem solid #aaa;
    letter-spacing: .2rem;
  }
  
  .footer .credit span{
    color:var(--orange);
  }





.fa-times{
    transform: rotate(180deg);
}



/* meadia queuries*/
@media (max-width:774px){
    html{
        font-size: 50%;
    }
    .header .fa-bars{
        display: block;          
    }

    .header nav{
        position: fixed;
        top: 5rem;right: -120%;
        height: calc(100vh - 6rem);
        width: 100vw;
        background: rgba(0, 0, 0, .5);
        z-index: 1000;
        border-top: .1rem solid rgba(0, 0, 0, .3);
    }
    .header .logo img{
        width: 100px;
        
    }

    .header nav ul{
        height: 100%;
        width:  33rem;
        background: #fff;
        flex-flow: column;
        justify-content: center;
        float: right;
    }

    .header nav ul li{
        margin: 1rem 0;
    }

    .header nav ul li a{
        display: block;
        padding: .5rem 0;
        border: .1rem solid rgba(0, 0, 0, .3);
        width: 25rem;
        border-radius: 5rem;
        text-align: center;
    }

    .header nav ul li a:hover{
        background-color: #747474;
        color: #fff;
        text-decoration: none;
    }

    .header .nav-toggle{
        right: 0;
    }
    
}

@media (max-width:440px){
    .Home .hero .text1{
        font-size: 4.5rem;
        width: 35rem;
    }
    .Home .hero .text2{
        font-size: 2.3rem;
        width: 35rem;
    }

    .Home .hero .button{
        font-size: 1.5rem;
    }
}

@media (max-width:570px){
    .about{
        text-align: center;
    }

    .about .image img{
        width: 80%;
    }
    
    .about .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .about .info{
        width: 80%;
        padding: 2rem;
        margin-top: 3rem;
    } 

    .footer .row {
        flex-direction: column;
        align-items: center;
    }

    .footer .row .col-md-3 {
        flex: 1 1 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .footer .row .letter {
        text-align: center;
    }
    
}
